# EditorConfig is awesome: https://EditorConfig.org
root = true

[*]
charset = utf-8
trim_trailing_whitespace = true
end_of_line = lf
insert_final_newline = true
indent_style = space

[*.{csproj,props,targets}.user]
indent_size = 4

[*.{csproj,props,targets}]
indent_size = 4

[*.cs]
indent_size = 4
