# Exclude everything
/*

# Specific includes

## Build System/Scripts
!/.config/
!NuGet.Config
!Directory.Build.props
!build.sh
!build.ps1
!build.cmd

## Markdowns
!*.md
!LICENSE

## important Git files
!.gitmodules
!.gitignore
!.gitattributes
!.git-blame-ignore-revs

### Git Hooks
!/hooks

## GitHub specific
!.github/

## Solution
!LethalLib.sln

### LethalLib project
!/LethalLib
LethalLib/[Bb]in
LethalLib/[Oo]bj
LethalLib/[Dd]ist

# Explicit exceptions/ignores
**.user