# Exclude everything
/*

# Specific includes

## Build System/Scripts
!/.config/
!NuGet.Config
!Directory.Build.props
!build.sh
!build.ps1
!build.cmd

## Markdowns
!*.md
!LICENSE

## Editorconfig
!.editorconfig

## important Git files
!.gitmodules
!.gitignore
!.gitattributes
!.git-blame-ignore-revs

### Git Hooks
!/hooks

## GitHub specific
!.github/

## Solution
!LethalLib.sln

### LethalLib project
!/LethalLib
LethalLib/[Bb]in
LethalLib/[Oo]bj
LethalLib/[Dd]ist

# Explicit exceptions/ignores

## Any `.user` (e.g. `.csproj.user`)
**.user

## allow MMHook lib, but nothing else
!/lib
lib/*
!lib/MMHOOK_Assembly-CSharp.dll
